{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        {% include 'manager/topbar.html' %}
        {% include 'manager/sidebar.html' %}

        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                {% block page_content %}{% endblock %}
            </div>
            <footer class="footer text-center">
                Ghidora | Coding for Cat Food
            </footer>
        </div>
    </div>
{% endblock %}